# Crash Analyzer Backend Environment Variables
PORT=3000
ADMIN_PASSWORD_HASH=1b5b2e27044b7527a6730c7ca978b65ed55183d54382ad637a2bf0860527ee12
NODE_ENV=production
DATABASE_URL=postgresql://postgres:OSQIeDeblIxAdrAiPFlVtEiWtgoTiZKA@metro.proxy.rlwy.net:33071/railway
